<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paulinho.alarmecomvoz">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="Open Time">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main" android:label="Main">
            <intent-filter>
                <action android:name="android.intent.action.SET_TIMER" />
                <category android:name="android.provider.AlarmClock.EXTRA_LENGTH" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.paulinho.alarmecomvoz.ServiceSpeech"
            android:label="ServiceSpeech">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="SERVICE_SPEECH" />

            </intent-filter>


        </service>
    </application>

</manifest>